@model List<Rate>

<a asp-action="Create">Rate us</a>
<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Feedback</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var rate in Model)
        {
            <tr>
                <td>
                    @rate.Id
                </td>
                <td>
                    @rate.Name
                </td>
                <td>
                    @rate.Rating
                </td>
                <td>
                    @rate.Feedback
                </td>
                <td>
                    @rate.Time
                </td>
                <td>
          
                    <a asp-action="Details" asp-route-id="@rate.Id" class="btn btn-success"> Details</a>
                    <a asp-action="Edit" asp-route-id="@rate.Id" class="btn btn-success"> Edit</a>
                    <a asp-action="Delete" asp-route-id="@rate.Id" class="btn btn-success"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




